# Flask configuration
SECRET_KEY=your-secret-key-here
FLASK_ENV=development

# Optional: Email configuration (for future features)
# MAIL_SERVER=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USE_TLS=True
# MAIL_USERNAME=your_email@gmail.com
# MAIL_PASSWORD=your_app_password
AUTHELIA_OIDC_CLIENT_SECRET=get_from_authelia
AUTHELIA_OIDC_CLIENT_ID=get_from_authelia        
AUTH_OIDC_CLIENT_SECRET=get_from_your_provider
AUTH_OIDC_CLIENT_ID=get_from_your_provider   
AUTH_OIDC_ISSUER=address where .well-known/openid-configuration hangs. In authelia is the main address whereas in authentik is https://authentik.yourcompany.com/application/o/<slug_gname>/
AUTH_OIDC_LOGOUT_URL=in authentik is https://authentik.yourcompany.com/application/o/<slug_gname>/end-session/ whereas in authleia https::/auth.yourocmpany.com/logout
